---
title: JonRowe - Tinker. Sailor. Developer. Spy?
---

<h1>Jon</h1>
<h2>Rowe</h2>
<h3>Tinker. Sailor. Developer. Spy?</h3>
<nav>
  <ul>
    <li class="github"      ><a href="https://github.com/JonRowe"              title="Code"   >Code</a></li>
    <li class="speakerdeck" ><a href="https://speakerdeck.com/jonrowe"         title="Talks"  >Talks</a></li>
    <li class="flickr"      ><a href="https://www.flickr.com/photos/mrjonrowe" title="Flickr" >Flickr</a></li>
    <li class="twitter"     ><a href="https://twitter.com/JonRowe"             title="Twitter">Twitter</a></li>
  </ul>
</nav>
